/*-- scss:defaults --*/

.baseline-slide {
  h2 {
    text-align: left;
    font-size: 28pt;
    margin-top: 0;  // タイトルを上部に配置
  }

  p {
    text-align: center !important; 
    font-size: 24pt !important;
    margin-top: 2em;  // タイトルと本文の間に余白を確保
  }
}

// Figure付きのスライドスタイル
.figure-slide {
  h2 {
    text-align: left !important;
    font-size: 28pt !important;
    margin-top: 0;  // タイトルを上部に配置
  }

  figure {
    display: block;
    margin: 0 auto;  // 図を中央に配置
    margin-bottom: 0.1em;  // 図と本文の間に0.1emの余白
  }

  p {
    font-size: 20pt;
    margin-top: 0.1em;  // 段落間の間隔を0.1emに設定
    text-align: center;  // 本文は中央揃え
    vertical-align: bottom;  // 図の真下に配置
  }
}

// // fonts
// $font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
//   FreeSerif, serif !default;

// // colors
// $body-bg: #f0f1eb !default;
// $body-color: #000 !default;
// $link-color: #51483d !default;
// $selection-bg: #26351c !default;

// // headings
// $presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
//   FreeSerif, serif !default;
// $presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

// 基本のスライドスタイル
